body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9fb;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.fitness-form-container {
    max-width: 600px;
    margin: 12% auto 50px auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #555;
}

input[type="date"],
input[type="number"],
select,
textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    background-color: #fefefe;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #3498db;
    background-color: #fff;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.75rem;
    background-color: var(--mayo-dark-blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--mayo-light-blue);
}

#feedback {
    text-align: center;
}

/* TODO: make these global */
.back-button-container {
    text-align: center;
    margin-bottom: 2rem;
}
  
.back-button {
    display: inline-block;
    background-color: var(--mayo-light-blue);
    color: var(--site-white);
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.back-button:hover {
    background-color: var(--mayo-dark-blue);
}

@media (max-width: 1100px) {
    body {
        overflow-y: scroll;
    }

    .fitness-form-container {
        margin-left: 25%;
        margin-right: 5%;
        padding: 1.5rem;
    }
}
